h1{
  background-color:maroon;
  color:cornsilk;
  font-size:3em;
  text-allign:center;
}

<style>
p{
  text-allign:center;
}

td{
  border:1px solid maroon;
}

table{
  border:1px solid maroon;
}

column{
  width:50%;
}

body{
  background-colour:cornsilk;
  colour:maroon;
}
</style>
