h1{
  background-color:maroon;
  color:cornsilk;
  font-size:3em;
  text-allign:center;
}

table, td{
  border:1px solid maroon;
}

<style>
column{
  float:left;
  width:50%;
  padding:15px;
}
</style>
