body{
  background-color:maroon;
  color:cornsilk;
  text-align:center;
}

h1{
  color:cornsilk;
  font-size:3em;
  text-align:center;
}

p{
  background-color:cornsilk;
  color:maroon;
  text-align:center;
}

table, td{
  border:1px solid maroon;
  margin-left:auto;
  margin-right:auto;
}
